# Database (SQLite)
DATABASE_URL="file:./dev.db"

# NextAuth Authentication
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="unitainment-secret-development-key-32charsmin"

# Google Authentication
GOOGLE_CLIENT_ID="your-google-client-id"
GOOGLE_CLIENT_SECRET="your-google-client-secret"

# Movies & TV (OMDb / IMDb API)
OMDB_API_KEY="your-omdb-api-key"
TMDB_API_KEY="your-tmdb-api-key"

# MyAnimeList Developer API
MAL_CLIENT_ID="your-mal-client-id"
MAL_CLIENT_SECRET="your-mal-client-secret"

# Games (RAWG API)
RAWG_API_KEY="your-rawg-api-key"

# Steam Web API
STEAM_API_KEY="your-steam-api-key"


